@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

// Global Colors

$primary-color: #36ab9d;
$secondary-color: #323232;
$light-color: #f6f6f6;
$primary-dark : #3F4F4D;

// ------Global Elements-------

// color-classes
.color-dark {
    color: $secondary-color;
}

.color-primary {
    color: $primary-color;
}

.color-light {
    color: #ffffff;
}

.bg-p {
    background: $primary-color;
}

.bg-s {
    background: $secondary-color;
}

.bg-gr {
    background: $light-color;
}
.bg-p-dark{
    background: $primary-dark;
}

.bg-w {
    background: #ffffff;
}

// Fonts

h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
}

p {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}












// =====Login Page ======== 

.password-group{
    position: relative;
}

.toggle-password{
    position: absolute;
    top: 10px;
    right: 10px;
    color: $primary-color;
}

// |||||||||||||||||||||||||||||  FOOTER |||||||||||||||||||||||||||||


.footer-menu-items ul{
    margin:0;
    padding: 0;
}

.footer-menu-items li{
    list-style: none;
    padding: 5px 0px;
}

.footer-menu-items li a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}

.footer-menu-items li a:hover{
    text-decoration: none;
    color: #e0e0e059;
    margin-left: 5px;
}